{% extends 'accounts/main.html' %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Are you sure want do delete "{{order.product.name}}"?</p>
            <form action="{% url 'delete_order' order.id %}" method="POST">
                {% csrf_token %}
                <p><a href="{% url 'home' %}" class="btn btn-warning">Cancel</a>
                    <input type="submit" value="delete" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>



{% endblock %}